server:
  port: 8082

spring:
  application:
    name: product-service
  datasource:
    url: jdbc:mysql://localhost:3306/product_service_db?createDatabaseIfNotExist=true
    username: root
    password: 18052005
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

services:
  user-service: http://localhost:8081
  management:
  endpoints:
    web:
      exposure:
        include: health,info
